/* Grids definitions */
#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

header {
  width: 1000px;
  display: inline;
  float: left;
  left: 20px;
  position: relative; }

/* Other definitions */
