// -- Warnings mixins ------------------------------------------------------ //
// You can see these warnings in your sass console
@mixin warn_grid_over_the_container($n)
	@if $n > $columns_count
		@warn "You've set up a grid_#{$n}, which is wider than configured container_#{$columns_count}!"

@mixin warn_prefix_over_the_container($n)
	@if $n >= $columns_count
		@warn "You've set up a (i)prefix_#{$n}, which is wider (with grid content) than configured container_#{$columns_count}!"
		
@mixin warn_suffix_over_the_container($n)
	@if $n >= $columns_count
		@warn "You've set up a (i)suffix_#{$n}, which is wider (with grid content) than configured container_#{$columns_count}!"

@mixin warn_pull_over_the_container($n)
	@if $n >= $columns_count
		@warn "You've set up a pull_#{$n}, which is wider (with grid content) than configured container_#{$columns_count}!"

@mixin warn_push_over_the_container($n)
	@if $n >= $columns_count
		@warn "You've set up a push_#{$n}, which is wider (with grid content) than configured container_#{$columns_count}!"



// -- Container components ------------------------------------------------ //
@mixin container_n
	width: $columns_count * $column_width
	margin:
		left: auto
		right: auto



// -- Grid components ------------------------------------------------------ //
@mixin grid_($n, $repair : 0)
	width: $column_width * $n + $repair
	display: inline
	float: left
	@include warn_grid_over_the_container($n)
		 


// -- Push components ------------------------------------------------------ //
@mixin push_($n)
	left: $column_width * $n
	position: relative
	@include warn_push_over_the_container($n)



// -- Pull components ------------------------------------------------------ //
@mixin pull_($n)
	right: $column_width * $n
	position: relative
	@include warn_pull_over_the_container($n)



// -- Prefix components ------------------------------------------------------ //
@mixin prefix_($n)
	margin:
		left: $column_width  * $n
	@include warn_prefix_over_the_container($n)



// -- Suffix components ------------------------------------------------------ //
@mixin suffix_($n)
	margin:
		right: $column_width  * $n
	@include warn_suffix_over_the_container($n)



// -- iPrefix components ------------------------------------------------------ //
@mixin iprefix_($n)
	padding:
		left: $column_width  * $n
		@include warn_prefix_over_the_container($n)



// -- iSuffix components ------------------------------------------------------ //
@mixin isuffix_($n)
	padding:
		right: $column_width  * $n
	@include warn_prefix_over_the_container($n)
